body {
  background-repeat: no-repeat;
  background-position: center;
  background-color: #555;
  color: #fff;
}
.card {
  background-color: #555 !important;
  border: none;
}
.card-header {
  background-color: rgba(0, 0, 0, 0);
  border-bottom: none;
}