@charset "UTF-8";

body {
  background-repeat: no-repeat;
  background-position: center;
  background-color: #eee;
  color: #000;
}

.card {
  background-color: #eee !important;
  border: none;
}

.card-header {
  background-color: rgba(0, 0, 0, 0);
  border-bottom: none;
}

.movie-wrap {
  position: relative;
  padding-bottom: 56.25%;
  /*アスペクト比 16:9の場合の縦幅*/
  height: 0;
  overflow: hidden;
}

.movie-wrap iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.button-color a {
  color: #fff;
}

.header-link a {
  color: #000;
}

